<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.aspose.ecplugin.category.wizard"
            name="Aspose">
      </category>
      <wizard
            category="com.aspose.ecplugin.category.wizard"
            class="com.aspose.ecplugin.wizard.NewProjectWizard"
            finalPerspective="com.eclipse.ecplugin.customperspective"
            helpHref="aspose.com"
            icon="icons/aspose.png"
            id="com.aspose.ecplugin.wizard.new.project"
            name="Aspose Application"
            project="true">
             <description>This wizard creates a new Eclipse Java project by downloading and referencing libraries of Aspose Java APIs</description>
      </wizard>
      <wizard
            category="com.aspose.ecplugin.category.wizard"
            class="com.aspose.ecplugin.wizard.file.NewFileWizard"
            icon="icons/aspose.png"
            id="com.aspose.ecplugin.wizard.file.NewFileWizard"
            name="Aspose Example">
            <description>This wizard creates Aspose APIs code examples within Eclipse Java project that was created by using Aspose Project Wizard</description>
     
      </wizard>
   </extension>
   <extension
         id="com.aspose.ecplugin.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aspose.ecplugin.ProjectNature">
         </run>
      </runtime>
      <builder
            id="com.aspose.ecplugin.propertiesFileEditor">
      </builder>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.builders">
      <builder></builder>
   </extension>
</plugin>
